# string

In [3]:
str1="this is my room"

In [7]:
len(str1)

15

In [11]:
str2=" and you can go now"

In [12]:
str1+str2

'this is my room and you can go now'

In [17]:
str1.capitalize()

'This is my room'

In [22]:
str2.count("o")

3

In [24]:
str1.index("is")

2

In [26]:
str1.partition(" is ")

('this', ' is ', 'my room')

# list

In [5]:
lst=[1,56.78,"hello","c"]

In [28]:
type(lst)

list

In [31]:
lst[:3]

[1, 56.78, 'hello']

In [32]:
lst[2:]

['hello', 'c']

In [33]:
lst[-2]

'hello'

In [36]:
lst[-3:-2]

[56.78]

In [37]:
lst[2][1]

'e'

In [38]:
len(lst)

4

In [39]:
lst.append("humen")

In [6]:
lst

[1, 56.78, 'hello', 'c']

In [41]:
lst.append([1,2,"my"])

In [42]:
lst

[1, 56.78, 'hello', 'c', 'humen', [1, 2, 'my']]

In [43]:
lst.remove("hello")

In [7]:
lst

[1, 56.78, 'hello', 'c']

In [8]:
del lst[1]

In [47]:
lst

[1, 'c', 'humen', [1, 2, 'my']]

In [10]:
lstt=lst.copy()

In [11]:
lstt

[1, 'hello', 'c']

In [12]:
lstt.insert(3,17.34)

In [13]:
lstt

[1, 'hello', 'c', 17.34]

# dictionary

In [14]:
dict={'name':'shubham','age':26,'city':'kanpur'}

In [15]:
dict

{'name': 'shubham', 'age': 26, 'city': 'kanpur'}

In [17]:
dict['name']

'shubham'

In [19]:
dict['town']='Kalyanpur'

In [20]:
dict

{'name': 'shubham', 'age': 26, 'city': 'kanpur', 'town': 'Kalyanpur'}

In [21]:
dict.get('age')

26

In [23]:
dict.items()

dict_items([('name', 'shubham'), ('age', 26), ('city', 'kanpur'), ('town', 'Kalyanpur')])

In [24]:
dict.keys()

dict_keys(['name', 'age', 'city', 'town'])

In [25]:
dict.values()

dict_values(['shubham', 26, 'kanpur', 'Kalyanpur'])

In [26]:
dictt={'mobile_no':89007878788}
dict.update(dictt)

In [27]:
dict

{'name': 'shubham',
 'age': 26,
 'city': 'kanpur',
 'town': 'Kalyanpur',
 'mobile_no': 89007878788}

# set

In [28]:
male={'dog','boy','cock','tiger'}

In [29]:
male

{'boy', 'cock', 'dog', 'tiger'}

In [30]:
male.add('gents')

In [31]:
male

{'boy', 'cock', 'dog', 'gents', 'tiger'}

In [32]:
male.discard('cock')

In [33]:
male

{'boy', 'dog', 'gents', 'tiger'}

In [34]:
male1={'dog','cock','elephant'}

In [35]:
male1

{'cock', 'dog', 'elephant'}

In [36]:
diff=male.difference(male1)

In [37]:
diff

{'boy', 'gents', 'tiger'}

In [38]:
inter=male.intersection(male1)

In [39]:
inter

{'dog'}

In [40]:
uni=male.union(male1)

In [41]:
uni

{'boy', 'cock', 'dog', 'elephant', 'gents', 'tiger'}

In [42]:
sup=uni.issuperset(male)

In [43]:
sup

True

In [44]:
sub=male1.issubset(uni)

In [45]:
sub

True

# tuple

In [46]:
tup=('cow','hen','girl')

In [47]:
tup[1]

'hen'

In [48]:
tup[-1]

'girl'

In [50]:
co=tup.count('girl')

In [51]:
co

1

In [52]:
co=tup.count("my")

In [53]:
co

0

In [54]:
ind=tup.index('hen')

In [55]:
ind

1